

body, html{
  margin: 0;
}

header, footer{
    background-color: #606061;
    height: 100px;
}

footer{
    position: relative;
    top: 292px;
}

.magazine_logo{
    width: 71px;
    height: 50px;
    margin-left: 60px;
    margin-top: 25px;
}

.menu{
    top: 72px;
    right: 10px;
    position: absolute;
    
}

.top_menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 550px;
    text-align: center;
    }

ul {
   list-style: none;
   margin: 0;
   padding-left: 0; 
}


a{
  text-decoration: none; 
}

.top_menu  li{
  display: inline;
}

.title-menu{
  color: #8bf73e;
  padding: 5px 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  text-transform:uppercase;
}

.title-menu:hover{
    color: #fff;
}

.home_page{
    margin-left: 60px;
    margin-right: 60px;
    
}

.all-button{
    margin-top: 50px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.field-input{
    padding-left: 8px;
    border: 2px solid #8bf73e;
    border-radius: 2px;
    height: 30px;
    width: 200px; 
}

.field-input-search{
    padding-left: 8px;
    border: 2px solid #8bf73e;
    border-radius: 2px;
    height: 30px;
    width: 220px;
}
.label_filter{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: #bdbfbb;
}

.filter-button{
    margin-top: 50px;
}

.search-button, .clear-button{
    width: 150px;
    height: 60px;
    text-transform:uppercase;
    font-weight: bold;
    cursor: pointer;
}

.search-button{
    background-color: #606061;
    border: none;
    color: #8bf73e;
}

.search-button:hover{
    color: #fff;
}

.clear-button{
   background-color: #fff;
   border: 2px solid #606061;
}

.clear-button:hover{
    color: #8bf73e;
}

///////////////*home_page*//////////////
.home_page_title{

}

.home-title, .home-title-describe{
    text-align: center;
    margin-top: 70px;
    color: #8bf73e;
}

.home-title-describe{
    color: #606061;
    font-size: 18px;
}

.adda{
    text-align: center;
}
























